body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.phase {
    display: none;
}

#detectedObjects {
    color: black;
    margin-top: 20px;
    font-size: 18px; /* Ajuste o tamanho da fonte se necessário */
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
