body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.page {
    text-align: center;
}

video {
    width: 100vw; /* Para ocupar toda a largura */
    height: 100vh; /* Para ocupar toda a altura */
    object-fit: cover; /* Manter a proporção */
}

canvas {
    display: none; /* Ocultar inicialmente */
}

#detectedObject {
    margin-top: 10px;
    font-size: 20px;
}
