body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#intro, #hint, #scanner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    width: 100%; /* Ajuste a largura da câmera para ocupar 100% da tela */
    height: auto; /* A altura se ajusta automaticamente */
}

#detectedObject {
    position: absolute;
    top: 10px; /* Distância do topo da tela */
    left: 10px; /* Distância da esquerda da tela */
    color: white; /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    z-index: 2; /* Garante que o texto fique acima do vídeo */
}
